.box{
    background-color: aqua;
    border-radius: 5px;
    margin: 2px;
    padding: 10 px;
    gap: 10px;
}

.flex-container{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.box3{
    background-color: antiquewhite;
}